---
---
$section-headings-color: #442b63;
$header-bg-color: #c9a9f1;
$header-bg-color-secondary: #7652a3;

@import "{{ site.theme }}";

/* Footer modifications */
.site-footer {
  display: none !important;
}

audio.small-audio {
  width: 100px; /* Adjust audio player width */
}
