---
---
$section-headings-color: #442b63;
$header-bg-color: #c9a9f1;
$header-bg-color-secondary: #7652a3;

@import "{{ site.theme }}";

/* Footer modifications */
.site-footer {
  display: none !important;
}

audio.small-audio {
  width: 100px; /* Adjust audio player width */
}

.main-content{
  table {
    th,
    td {
      text-align: center;
    }
    
    img {
      cursor: pointer; /* Shows a hand cursor on hover */
    }
  }
}

/* Modal styles for image popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
